.top {
    display: flex;
    background-color: #081b29;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4p 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
.logo{
    font-size: 20px;
    font-weight: 400;
    padding-left: 40px;
    text-decoration: none;
    color: #7a95a8;
    transition: transform 0.5s, color 0.5s;
}
.logo:hover{
    transform: scale(1.1);
    transition: .7s ease;
}
.logo:hover{
    color: #5b656d;
}
/*nav-bar*/
.nav_bar a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;
    justify-content: space-between;
    color:#5b656d;
    margin-left: 40px;
    transition: transform .5s, color .5s;
}
.nav_bar a:hover{
    transform: scale(1.1);
    transition: .7s ease;
    color:#7a95a8;
}
.Main{
    height: 70vh;
    /* display: flex; */
    align-items: center;
    padding: 0 10px;
    margin-top: 0 30px;
    background-color: #081b29;
    justify-content: center;
}
.text {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    justify-content: center;
    text-align: center;
}
.text h1 {
    font-size: 25px;
    margin: 10px;
    font-weight: 300;
    text-align: center;
}
.text h2 {
    font-size: 20px;
    font-weight: 250;
    margin: 15px;
    text-align: center;
}
.card_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #081b29;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: auto;
    margin: 0 auto;
}
.card, .two, .three {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 5px;
}
.btn{
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btn:hover {
    background-color: #0056b3;
}