    .heading{
        background-color: transparent;
        width: 100%;
        position: fixed;
        display: inline-flex;
        justify-content: space-between;
        color: #fff;
        top: 0;
        left: 0;
        padding: 20px 10px;
        z-index: 1000;
        margin-bottom: 80px;
    }
    .heading .log{
        font-size: 25px;
        font-weight: 500;
        cursor: pointer;
        color: #117fda;
        text-decoration: none;
        transition: .3s;
        padding-left: 40px;
    }
    .heading .log:hover{
        transform: scale(1.1);
        transition: .5s ease;
    }
    .heading .log:hover{
        color: #fff;
    }
    .links{
        font-size: 20px;
        font-weight: 400;
        cursor: pointer;
        text-decoration: none;
        justify-content: space-between;
        transition: .3s;
        color: #117fda;
        margin: 50px;
    }
    .links:hover{
        color: #fff;
    }
    .main{
        background-color: #081b29;
        /* display: inline-flex; */
        /* padding-bottom: 100px; */
        justify-content: center;
        align-items: center;
        padding: 0 10% ;
        height: 100vh;
    }
    .contents{
        max-width: 500px;
        text-align: center;
        padding-top: 200px;
        padding-left: 70px;
        margin: 20px;
    }
    .contents h1{
        color: #00adf0;
        margin-bottom: 40px;
        font-size: 25px;
        font-weight: 400;
        align-items: center;
        justify-content: center;
    }
    .contents h2{
        font-size: 20px;
        font-weight: 300;
        color:#00adf0;
    }
    @keyframes gradient {
        0% { background-position: 0% 50%; }
        50% { background-position: 100% 50%; }
        100% { background-position: 0% 50%; }
    }
    
    .botton {
        font-size: 15px;
        position: relative;
        display: inline-flex;
        width: 90px;
        height: 50px;
        text-decoration: none;
        justify-content: center;
        background: linear-gradient(270deg, #00adf0, #081b29);
        background-size: 400% 400%;
        align-items: center;
        border: 2px solid #00adf0;
        border-radius: 10px;
        transition: .3s;
        overflow: hidden;
        z-index: 1;
        color: #00adf0;
        animation: gradient 5s ease infinite;
        margin: 20px;
    }
    
    .botton:hover {
        transform: scale(1.1);
        color: #fff;
        border: 2px solid #fff;
        transition: .7s ease, color .3s;
    }
